@model MusicStore.Models.Album

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center mt-2">Edit Album</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-6 col-sm-8 mx-auto">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AlbumId)

        <div class="form-group">
            @Html.LabelFor(model => model.GenreId, "GenreId", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownList("GenreId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GenreId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistId, "ArtistId", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownList("ArtistId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ArtistId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlbumArtUrl, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.AlbumArtUrl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AlbumArtUrl, "", new { @class = "text-danger" })
        </div>

        <div class="form-row">
            <div class="col">
                <input type="submit" value="Save" class="form-control btn btn-warning" />
            </div>
            <div class="col">
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "form-control btn btn-light" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
